<section class="hero">
    <div class="hero_top hero-decor">
        <div class="container">
            <h2 class="hero_title text-p-default">Pricing plans 🤑</h2>
            <p class="hero_descr heading-h1">
                Choose a plan for a more advanced business
            </p>
            <label class="hero_swticher-wrapper">
                <span class="hero_swticher">
                    <input
                        type="checkbox"
                        class="hero_swticher-checkbox"
                        data-price="swticher"
                    />
                </span>
                <span class="hero_swticher-text text-p-default">
                    Annual pricing (save 20%)
                </span>
            </label>
        </div>
    </div>
    <div class="container">
        <ul class="hero_plans">
            <li class="hero_item">
                <div class="hero_plans-icon">
                    <svg
                        width="24.000000"
                        height="24.000000"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                        <desc>Created with Pixso.</desc>
                        <defs>
                            <clipPath id="clip1_1839">
                                <rect
                                    id="Icon"
                                    rx="0.000000"
                                    width="23.000000"
                                    height="23.000000"
                                    transform="translate(0.500000 0.500000)"
                                    fill="white"
                                    fill-opacity="0"
                                />
                            </clipPath>
                        </defs>
                        <g clip-path="url(#clip1_1839)">
                            <path
                                id="Icon"
                                d="M4.31 6.31C6.07 4.56 8.92 4.56 10.68 6.31L12 7.63L13.31 6.31C15.07 4.56 17.92 4.56 19.68 6.31C21.43 8.07 21.43 10.92 19.68 12.68L12 20.36L4.31 12.68C2.56 10.92 2.56 8.07 4.31 6.31Z"
                                stroke="#101010"
                                stroke-opacity="1.000000"
                                stroke-width="2.000000"
                                stroke-linejoin="round"
                            />
                        </g>
                    </svg>
                </div>
                <h3 class="hero_plans-title text-p-large">Starter</h3>
                <p class="hero_plans-descr text-p-default">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry.
                </p>
                <div class="hero_plans-price heading-h2">
                    <span  data-price="starter">$100</span>
                    <span class="hero_plans-price-text text-p-default"
                        >/mo</span
                    >
                </div>
                <h4 class="hero_plans-list-title text-p-default">
                    What’s included:
                </h4>
                <ul class="hero_plans-list text-p-default">
                    <li class="hero_plans-item">Unlimited Upload</li>
                    <li class="hero_plans-item">Advanced Statistic</li>
                    <li class="hero_plans-item">Profile Badge</li>
                    <li class="hero_plans-item">Access to the community</li>
                    <li class="hero_plans-item hero_plans-item--inaccess">
                        History of all Liked Photos
                    </li>
                    <li class="hero_plans-item hero_plans-item--inaccess">
                        Directory Listing
                    </li>
                    <li class="hero_plans-item hero_plans-item--inaccess">
                        Customize Your Profile
                    </li>
                    <li class="hero_plans-item hero_plans-item--inaccess">
                        Display Your Workshops
                    </li>
                </ul>
                <div class="hero_plans-btn-wrapper">
                    <button class="hero_plans-btn text-p-default">
                        Chose Plan
                    </button>
                </div>
            </li>
            <li class="hero_item hero_item--popular">
                <div class="hero_plans-icon hero_plans-icon--popular">
                    <svg
                        width="24.000000"
                        height="24.000000"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                        <desc>Created with Pixso.</desc>
                        <defs>
                            <clipPath id="clip1_1879">
                                <rect
                                    id="Icon"
                                    rx="0.000000"
                                    width="23.000000"
                                    height="23.000000"
                                    transform="translate(0.500000 0.500000)"
                                    fill="white"
                                    fill-opacity="0"
                                />
                            </clipPath>
                        </defs>
                        <g clip-path="url(#clip1_1879)">
                            <path
                                id="Icon"
                                d="M13 3L4 14L11 14L11 21L20 10L13 10L13 3Z"
                                stroke="#101010"
                                stroke-opacity="1.000000"
                                stroke-width="2.000000"
                                stroke-linejoin="round"
                            />
                        </g>
                    </svg>
                </div>
                <h3
                    class="hero_plans-title hero_plans-title--popular text-p-large"
                >
                    Popular
                </h3>
                <p class="hero_plans-descr text-p-default">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry.
                </p>
                <div
                    class="hero_plans-price hero_plans-price--popular heading-h2"
                > <span  data-price="popular">$1400</span>
                    
                    <span class="hero_plans-price-text text-p-default"
                        >/mo</span
                    >
                </div>
                <h4
                    class="hero_plans-list-title hero_plans-list-title--popular text-p-default"
                >
                    What’s included:
                </h4>
                <ul class="hero_plans-list text-p-default">
                    <li class="hero_plans-item hero_plans-item--popular">
                        Unlimited Upload
                    </li>
                    <li class="hero_plans-item hero_plans-item--popular">
                        Advanced Statistic
                    </li>
                    <li class="hero_plans-item hero_plans-item--popular">
                        Profile Badge
                    </li>
                    <li class="hero_plans-item hero_plans-item--popular">
                        Access to the community
                    </li>
                    <li class="hero_plans-item hero_plans-item--inaccess">
                        History of all Liked Photos
                    </li>
                    <li class="hero_plans-item hero_plans-item--popular">
                        Directory Listing
                    </li>
                    <li class="hero_plans-item hero_plans-item--inaccess">
                        Customize Your Profile
                    </li>
                    <li class="hero_plans-item hero_plans-item--inaccess">
                        Display Your Workshops
                    </li>
                </ul>
                <div class="hero_plans-btn-wrapper">
                    <button
                        class="hero_plans-btn hero_plans-btn--popular text-p-default"
                    >
                        Chose Plan
                    </button>
                </div>
            </li>
            <li class="hero_item">
                <div class="hero_plans-icon">
                    <svg
                        width="24.000000"
                        height="24.000000"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                        <desc>Created with Pixso.</desc>
                        <defs>
                            <clipPath id="clip1_1921">
                                <rect
                                    id="akar-icons:crown"
                                    rx="0.000000"
                                    width="23.000000"
                                    height="23.000000"
                                    transform="translate(0.500000 0.500000)"
                                    fill="white"
                                    fill-opacity="0"
                                />
                            </clipPath>
                        </defs>
                        <rect
                            id="akar-icons:crown"
                            rx="0.000000"
                            width="23.000000"
                            height="23.000000"
                            transform="translate(0.500000 0.500000)"
                            fill="#FFFFFF"
                            fill-opacity="0"
                        />
                        <g clip-path="url(#clip1_1921)">
                            <path
                                id="Vector"
                                d="M3.3 9.04C3.75 9.4 4.28 9.66 4.85 9.8C5.41 9.94 6 9.95 6.57 9.84C7.14 9.73 7.68 9.49 8.15 9.15C8.62 8.81 9.01 8.37 9.29 7.86L12 3L14.7 7.86C14.98 8.37 15.37 8.81 15.84 9.15C16.31 9.49 16.85 9.73 17.42 9.84C17.99 9.95 18.58 9.94 19.14 9.8C19.71 9.66 20.24 9.4 20.69 9.04L22 8L20.24 16.77C20.16 17.15 20 17.51 19.76 17.82C19.53 18.13 19.22 18.38 18.87 18.56C16.74 19.62 14.38 20.18 12 20.18C9.61 20.18 7.25 19.62 5.12 18.56C4.77 18.38 4.46 18.13 4.23 17.82C3.99 17.51 3.83 17.15 3.75 16.77L2 8L3.3 9.04Z"
                                stroke="#1D1E25"
                                stroke-opacity="1.000000"
                                stroke-width="2.000000"
                                stroke-linejoin="round"
                            />
                            <path
                                id="Vector"
                                d="M8 15C10.59 16.33 13.4 16.33 16 15"
                                stroke="#1D1E25"
                                stroke-opacity="1.000000"
                                stroke-width="2.000000"
                                stroke-linejoin="round"
                                stroke-linecap="round"
                            />
                        </g>
                    </svg>
                </div>
                <h3 class="hero_plans-title text-p-large">Enterprise</h3>
                <p class="hero_plans-descr text-p-default">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry.
                </p>
                <div class="hero_plans-price heading-h2">
                    <span data-price="enterprise">$2100</span>
                    
                    <span class="hero_plans-price-text text-p-default"
                        >/mo</span
                    >
                </div>
                <h4 class="hero_plans-list-title text-p-default">
                    What’s included:
                </h4>
                <ul class="hero_plans-list text-p-default">
                    <li class="hero_plans-item">Unlimited Upload</li>
                    <li class="hero_plans-item">Advanced Statistic</li>
                    <li class="hero_plans-item">Profile Badge</li>
                    <li class="hero_plans-item">Access to the community</li>
                    <li class="hero_plans-item">History of all Liked Photos</li>
                    <li class="hero_plans-item">Directory Listing</li>
                    <li class="hero_plans-item">Customize Your Profile</li>
                    <li class="hero_plans-item">Display Your Workshops</li>
                </ul>
                <div class="hero_plans-btn-wrapper">
                    <button class="hero_plans-btn text-p-default">
                        Chose Plan
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>
