<section class="activity">
    <div class="container">
        <div class="activity_info">
            <h2 class="activity_info-title heading-h1">Activity & Updates</h2>
            <p class="activity_info-text text-p-subtitle">
                Our biggest challenge is making sure we're always designing and
                building products that will help you run your business better.
            </p>
        </div>
        <div class="activity_tabs">
            <button
                class="activity_tabs-button text-p-default"
                data-filter="all"
            >
                View all
            </button>
            <button
                class="activity_tabs-button text-p-default"
                data-filter="design"
            >
                Design
            </button>
            <button
                class="activity_tabs-button text-p-default"
                data-filter="articles"
            >
                Articles
            </button>
            <button
                class="activity_tabs-button text-p-default"
                data-filter="product"
            >
                Product
            </button>
            <button
                class="activity_tabs-button text-p-default"
                data-filter="software"
            >
                Software Development
            </button>
            <button
                class="activity_tabs-button text-p-default"
                data-filter="customer"
            >
                Customer Success
            </button>
        </div>
        <div class="swiper activity_slider">
            <div class="activity_slider-btns">
                <svg
                    width="16.000244"
                    height="10.008057"
                    viewBox="0 0 16.0002 10.0081"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                    <desc>Created with Pixso.</desc>
                    <defs />
                    <path
                        id="Icon"
                        d="M11 1L15 5L11 9M5 9L1 5L5 1"
                        stroke="#101010"
                        stroke-opacity="1.000000"
                        stroke-width="2.000000"
                        stroke-linejoin="round"
                        stroke-linecap="round"
                    />
                </svg>
            </div>
            <div class="swiper-wrapper">
                <div
                    class="swiper-slide activity_article"
                    data-category="product"
                >
                    <img
                        loading="lazy"
                        class="activity_article-img"
                        src="./assets/image/activity-slide-1.jpg"
                        width="515"
                        height="428"
                        alt="Woman typing on laptop and writing on a notebook"
                    />
                    <div class="activity_article-head text-p-small">
                        <div class="activity_article-date">
                            Published in Insight
                            <time datetime="2024-01-30">Jan 30, 2024</time>
                        </div>
                    </div>
                    <h3 class="activity_article-title heading-h5">
                        Practice making User Flow
                    </h3>
                    <p class="activity_article-text">
                        In this article, we'll cover how to create user flows
                    </p>
                </div>
                <div
                    class="swiper-slide activity_article"
                    data-category="design"
                >
                    <img
                        loading="lazy"
                        class="activity_article-img"
                        src="./assets/image/activity-slide-2.jpg"
                        width="515"
                        height="428"
                        alt="Man typing on"
                    />
                    <div class="activity_article-head text-p-small">
                        <div class="activity_article-date">
                            Published in Insight
                            <time datetime="2024-01-30">Jan 30, 2024</time>
                        </div>
                        <address class="activity_article-author">
                            by : Albert Sans
                        </address>
                    </div>
                    <h3 class="activity_article-title heading-h5">
                        Overview of the Design Principles
                    </h3>
                    <p class="activity_article-text">
                        What are Design Principles?… To understand design
                        principles, we first discuss the principles.
                    </p>
                </div>
                <div
                    class="swiper-slide activity_article"
                    data-category="articles"
                >
                    <img
                        loading="lazy"
                        class="activity_article-img"
                        src="./assets/image/activity-slide-3.jpg"
                        width="379"
                        height="428"
                        alt="Man typing on"
                    />
                    <div class="activity_article-head text-p-small">
                        <div class="activity_article-date">
                            Published in Insight
                            <time datetime="2024-01-30">Jan 30, 2024</time>
                        </div>
                        <address class="activity_article-author">
                            by : Albert Sans
                        </address>
                    </div>
                    <h3 class="activity_article-title heading-h5">
                        Using Grid in website design
                    </h3>
                    <p class="activity_article-text">
                        Andi: "What's the grid like?" Toni: “Like below…”
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</section>
