<section class="articles">
    <div class="container">
        <div class="articles_top">
            <div class="articles_top-info">
                <h2 class="articles_top-info-title heading-h2">Articles</h2>
                <p class="articles_top-info-text text-p-medium">
                    Complex tech decoded by engineers, business trends analyzed
                    by experts.
                </p>
            </div>
            <div class="articles_top-btns">
                <button class="articles_top-btn articles_top-btn--prev">
                    <svg
                        width="18.000000"
                        height="18.000000"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                        <desc>Created with Pixso.</desc>
                        <defs>
                            <clipPath id="clip1_2513">
                                <rect
                                    id="Icon"
                                    rx="0.000000"
                                    width="17.424999"
                                    height="17.424999"
                                    transform="translate(0.287500 0.287500)"
                                    fill="white"
                                    fill-opacity="0"
                                />
                            </clipPath>
                        </defs>
                        <g clip-path="url(#clip1_2513)">
                            <path
                                id="Icon"
                                d="M10.29 3.29C10.68 2.9 11.31 2.9 11.7 3.29L17.7 9.29C18.09 9.68 18.09 10.31 17.7 10.7L11.7 16.7C11.31 17.09 10.68 17.09 10.29 16.7C9.9 16.31 9.9 15.68 10.29 15.29L14.58 11L3 11C2.44 11 2 10.55 2 10C2 9.44 2.44 9 3 9L14.58 9L10.29 4.7C9.9 4.31 9.9 3.68 10.29 3.29Z"
                                fill="#101010"
                                fill-opacity="1.000000"
                                fill-rule="evenodd"
                            />
                        </g>
                    </svg>
                </button>
                <button class="articles_top-btn articles_top-btn--next">
                    <svg
                        width="18.000000"
                        height="18.000000"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                        <desc>Created with Pixso.</desc>
                        <defs>
                            <clipPath id="clip1_2513">
                                <rect
                                    id="Icon"
                                    rx="0.000000"
                                    width="17.424999"
                                    height="17.424999"
                                    transform="translate(0.287500 0.287500)"
                                    fill="white"
                                    fill-opacity="0"
                                />
                            </clipPath>
                        </defs>
                        <g clip-path="url(#clip1_2513)">
                            <path
                                id="Icon"
                                d="M10.29 3.29C10.68 2.9 11.31 2.9 11.7 3.29L17.7 9.29C18.09 9.68 18.09 10.31 17.7 10.7L11.7 16.7C11.31 17.09 10.68 17.09 10.29 16.7C9.9 16.31 9.9 15.68 10.29 15.29L14.58 11L3 11C2.44 11 2 10.55 2 10C2 9.44 2.44 9 3 9L14.58 9L10.29 4.7C9.9 4.31 9.9 3.68 10.29 3.29Z"
                                fill="#101010"
                                fill-opacity="1.000000"
                                fill-rule="evenodd"
                            />
                        </g>
                    </svg>
                </button>
            </div>
        </div>
        <div class="articles_bottom">
            <div class="swiper articles_slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide articles_article">
                        <img
                            loading="lazy"
                            class="articles_article-img"
                            src="./assets/image/articles-slide-1.jpg"
                            width="476"
                            height="577"
                            alt="Woman typing on laptop and writing on a notebook"
                        />
                        <h3 class="articles_article-title heading-h5">
                            List of UX Designer Portfolio / Case Studies where
                            you can make money
                        </h3>
                        <p class="articles_article-text text-p-medium">
                            Here are some portfolios / Case Studies from UX
                            Designers that you can use as a reference for
                            creating a portfolio. Two interesting things from
                            their portfolio are:
                        </p>
                        <div class="articles_article-btn-wrapper">
                            <button class="articles_article-btn text-p-default">
                                Read More
                            </button>
                        </div>
                    </div>
                    <div class="swiper-slide articles_article">
                        <img
                            loading="lazy"
                            class="articles_article-img"
                            src="./assets/image/articles-slide-2.jpg"
                            width="476"
                            height="329"
                            alt="Woman typing on laptop and writing on a notebook"
                        />
                        <h3 class="articles_article-title heading-h5">
                            Skyrocketing in The Designing Career, Why Not?
                        </h3>
                        <p class="articles_article-text text-p-medium">
                            Ever thought of jumping into the world of design as
                            a career? If not, you may want to look at what the
                            word ‘design’ actually means. Design is a method of
                            designing aesthetic actions that are carried out.
                        </p>
                        <div class="articles_article-btn-wrapper">
                            <button class="articles_article-btn text-p-default">
                                Read More
                            </button>
                        </div>
                    </div>
                    <div class="swiper-slide articles_article">
                        <img
                            loading="lazy"
                            class="articles_article-img"
                            src="./assets/image/articles-slide-3.jpg"
                            width="476"
                            height="695"
                            alt="Woman typing on laptop and writing on a notebook"
                        />
                        <h3 class="articles_article-title heading-h5">
                            Elements that may be missed when designing the UI
                        </h3>
                        <p class="articles_article-text text-p-medium">
                            This is an article that talks about the little
                            elements that are often overlooked when designing
                            UI.
                        </p>
                        <div class="articles_article-btn-wrapper">
                            <button class="articles_article-btn text-p-default">
                                Read More
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
