<section class="content">
    <div class="container">
        <div class="content_columns">
            <div class="content_columns-left">
                <a href="detail-blog.html" class="content_columns-left-item-top">
                    <img
                        loading="lazy"
                        class="content_columns-left-item-top-img"
                        src="./assets/image/activity-content-slide-1.jpg"
                        width="584"
                        height="751"
                        alt="Man typing on"
                    />
                    <h3 class="content_columns-left-item-top-title heading-h3">
                        How we perform long-running tasks using AWS services
                    </h3>
                    <p class="content_columns-left-item-top-text text-p-medium">
                        Webflow is web design tool as well as a hosting platform
                        and CMS all in one. While you are probably familiar with
                        all of these, they are usually entirely separate tools.
                    </p>
                </a>
                <a href="#" class="content_columns-left-item-bottom">
                    <img
                        loading="lazy"
                        class="content_columns-left-item-bottom-img"
                        src="./assets/image/activity-content-slide-3.jpg"
                        width="584"
                        height="507"
                        alt="Man typing on"
                    />
                    <h3 class="content_columns-left-item-bottom-title heading-h3">
                        Layout Exploration — Simple exercise but big effect
                    </h3>
                    <p class="content_columns-left-item-bottom-text text-p-medium">
                        Make alternatives or other options for the design we are
                        making.For example, we are creating a website design.
                        Then there is the testimonial section.
                    </p>
                </a>
            </div>
            <div class="content_columns-right">   
                <a href="#" class="content_columns-right-item-top">
                    <img
                        loading="lazy"
                        class="content_columns-right-item-top-img"
                        src="./assets/image/activity-content-slide-2.jpg"
                        width="584"
                        height="507"
                        alt="Man typing on"
                    />
                    <h3 class="content_columns-right-item-top-title heading-h3">
                        How to ask when doing User Research
                    </h3>
                    <p class="content_columns-right-item-top-text text-p-medium">
                        Bro, the story is that you want to make an application
                        for buying and selling goods on the market. During user
                        research, what do you think you will ask people?
                    </p>
                </a>
                <a href="#" class="content_columns-right-item-bottom">
                    <img
                        loading="lazy"
                        class="content_columns-right-item-bottom-img"
                        src="./assets/image/activity-content-slide-4.jpg"
                        width="584"
                        height="751"
                        alt="Man typing on"
                    />
                    <h3 class="content_columns-right-item-bottom-title heading-h3">
                        Webflow Break the Coding Barrier
                    </h3>
                    <p class="content_columns-right-item-bottom-text text-p-medium">
                        Webflow is web design tool as well as a hosting platform
                        and CMS all in one. While you are probably familiar with
                        all of these, they are usually entirely separate tools.
                    </p>
                </a>
            </div> 
        </div>
    </div>
</section>