<section class="partners">
    <div class="container partners_container">
        <h2 class="partners_title text-p-medium">
            <span class="partners_title-num heading-h2">890+</span>
            some big companies that we work with, and trust us very much
        </h2>
        <ul class="partners_list">
            <li class="partners_item">
                <img 
                loading="lazy"
                src="./assets/icons/partners/airbnb-logo-icon.svg"
                width="97"
                height="30" 
                alt="airbnb logo icon">
            </li>
            <li class="partners_item">
                <img 
                loading="lazy"
                src="./assets/icons/partners/amazon-logo-icon.svg"
                width="97"
                height="30" 
                alt="amazon logo icon">
            </li>
            <li class="partners_item">
                <img 
                loading="lazy"
                src="./assets/icons/partners/fedEx-logo-icon.svg"
                width="96"
                height="30" 
                alt="fedExp logo icon">
            </li>
            <li class="partners_item">
                <img 
                loading="lazy"
                src="./assets/icons/partners/microsoft-logo-icon.svg"
                width="116"
                height="26" 
                alt="microsoft logo icon">
            </li>
            <li class="partners_item">
                <img 
                loading="lazy"
                src="./assets/icons/partners/google-logo-icon.svg"
                width="91"
                height="30" 
                alt="google logo icon">
            </li>
            <li class="partners_item">
                <img 
                loading="lazy"
                src="./assets/icons/partners/ola-logo-icon.svg"
                width="94"
                height="32" 
                alt="ola logo icon">
            </li>
            <li class="partners_item">
                <img 
                loading="lazy"
                src="./assets/icons/partners/walmart-logo-icon.svg"
                width="114"
                height="28" 
                alt="walmart logo icon">
            </li>
            <li class="partners_item">
                <img 
                loading="lazy"
                src="./assets/icons/partners/oyo-logo-icon.svg"
                width="80"
                height="28" 
                alt="oyo logo icon">
            </li>
        </ul>
    </div>
</section>
