.strength {
    &_container {
        border-bottom: 1px solid var(--neutral-color-30);
        padding-top: 66px;
        padding-bottom: 160px;
        
    }
    
    

    @include mobile {
        padding: 26px 0 70px;
        padding-top: 26px;
        padding-bottom: 70px;
    }

    &_list {
        @include flex-align-center;

        @include tablet {
            gap: 82px;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }

        @include small-tablet {
            gap: 62px;
        }

        @include mobile {
            gap: 42px;
            margin-bottom: 50px;
        }
    }

    &_item {
        @include tablet {
            justify-content: center;
            min-width: 325px;
        }

        @include mobile {
            min-width: 240px;
        }

        &:not(:last-child) {
            @include flex-align-center;

            gap: 72px;
            margin-right: 72px;

            @include tablet {
                margin-right: 0;
            }

            &::after{
                content: '';
                display: inline-block;
                width: 1px;
                height: 99px;
                background-color: var(--neutral-color-40);

                @include tablet {
                    display: none;
                }
            }
        }

        &-text{
            color: var(--neutral-color-150);
            font-weight: 500;
            line-height: 178%;
        }

        &-num{
            display: block;
            margin-bottom: 8px;
            color: var(--neutral-color-100);
            font-size: 64px;
            font-weight: 600;
            line-height: 1.2;

            @include tablet {
                font-size: 58px;
            }

            @include mobile {
                font-size: 48px;
            }

            @include small-mobile {
                font-size: 42px;
            }
        }
    }
    
    
    &_list,
    &_img {
        margin-bottom: 80px;
    }
    
    
    &_img {
        @include tablet {
            margin-bottom: 60px;
        }

        @include mobile {
            margin-bottom: 40px;
        }
    }

    &_info {
        @include flex-justify-between;

        @include tablet {
            gap: 20px;
            flex-direction: column;
        }
    }

    &_title {
        color: var(--neutral-color-100);
        font-weight: 600;
        letter-spacing: -0.04em;
    }

    &_descr {
        max-width: 421px;
        color: var(--neutral-color-150);
        font-weight: 500;
        line-height: 178%;

        @include tablet {
            max-width: 700px;
        }
    }
}