<section class="features">
    <div class="container features_container">
        <div class="features_left">
            <img
                loading="lazy"
                src="./assets/image/features-img.jpeg"
                width="585"
                height="651"
                alt="Woman typing on laptop"
            />
            <div class="features_stats">
                <div class="features_stats-head">
                    <h4 class="features_stats-title text-p-default">
                        Statictic
                    </h4>
                    <img
                        loading="lazy"
                        class="feature_stats-img"
                        src="./assets/icons/more-icon.svg"
                        width="18"
                        height="19"
                        alt="Ellipsis icon"
                    />
                </div>
                <div class="features_stats-item">
                    <img
                        loading="lazy"
                        class="feature_stats-item-img"
                        src="./assets/icons/features-total-income-icon.svg"
                        width="95"
                        height="88"
                        alt="Total income graphic"
                    />
                    <div class="feature_stats-item-info">
                        <h5 class="features_stats-item-title">Total Income</h5>
                        <div class="features_stats-item-price">
                            <span class="features_stats-item-price-num"
                                >$7,020</span
                            >
                            <div class="features_stats-item-price-proc">
                                <svg
                                    width="10.000000"
                                    height="6.000000"
                                    viewBox="0 0 10 6"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                >
                                    <desc>Created with Pixso.</desc>
                                    <defs />
                                    <path
                                        id="Icon"
                                        d="M9.7 5.7C9.31 6.09 8.68 6.09 8.29 5.7L5 2.41L1.7 5.7C1.31 6.09 0.68 6.09 0.29 5.7C-0.1 5.31 -0.1 4.68 0.29 4.29L4.29 0.29C4.68 -0.1 5.31 -0.1 5.7 0.29L9.7 4.29C10.09 4.68 10.09 5.31 9.7 5.7Z"
                                        fill="#101010"
                                        fill-opacity="1.000000"
                                        fill-rule="evenodd"
                                    />
                                </svg>
                                15%
                            </div>
                        </div>
                        <p class="features_stats-item-descr">
                            Your Income of this month compared to last month
                        </p>
                    </div>
                </div>
                <div class="features_stats-item">
                    <img
                        loading="lazy"
                        src="./assets/icons/features-total-expense-icon.svg"
                        width="95"
                        height="88"
                        alt="Total expense graphic"
                    />
                    <div class="feature_stats-item-info">
                        <h5 class="features_stats-item-title">Total Expense</h5>
                        <div class="features_stats-item-price">
                            <span class="features_stats-item-price-num"
                                >$2,150</span
                            >
                            <div class="features_stats-item-price-proc">
                                <svg
                                    width="20.000000"
                                    height="20.000000"
                                    viewBox="0 0 20 20"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                >
                                    <desc>Created with Pixso.</desc>
                                    <defs>
                                        <clipPath id="clip1_2466">
                                            <rect
                                                id="Icon"
                                                rx="0.000000"
                                                width="19.000000"
                                                height="19.000000"
                                                transform="translate(0.500000 0.500000)"
                                                fill="white"
                                                fill-opacity="0"
                                            />
                                        </clipPath>
                                    </defs>
                                    <g clip-path="url(#clip1_2466)">
                                        <path
                                            id="Icon"
                                            d="M5.29 7.29C5.68 6.9 6.31 6.9 6.7 7.29L10 10.58L13.29 7.29C13.68 6.9 14.31 6.9 14.7 7.29C15.09 7.68 15.09 8.31 14.7 8.7L10.7 12.7C10.31 13.09 9.68 13.09 9.29 12.7L5.29 8.7C4.9 8.31 4.9 7.68 5.29 7.29Z"
                                            fill="#101010"
                                            fill-opacity="1.000000"
                                            fill-rule="evenodd"
                                        />
                                    </g>
                                </svg>
                                10%
                            </div>
                        </div>
                        <p class="features_stats-item-descr">
                            Your Expanse of this month compared to last month
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="features_right">
            <h2 class="features_title heading-h2">
                Passion to increase company revenue up to 85%
            </h2>
            <p class="features_descr text-p-medium">
                Automate your sales, marketing and service in one platform.
                Avoid date leaks and enable consistent messaging
            </p>
            <ul class="features_list">
                <li class="features_item text-p-medium">
                    Close more deals with single - page contact managment
                </li>
                <li class="features_item text-p-medium">
                    Enjoy one-click calling, call scripts and voicemail
                    automation
                </li>
                <li class="features_item text-p-medium">
                    Take stages and milestones of your deals to keep the sales
                    process an track
                </li>
            </ul>
        </div>
    </div>
</section>
